
@{
    ViewBag.Title = "reserva2";
    Layout = "~/Views/Shared/_base.cshtml";
}


<div class="text-center"> <h2>Finalizar Reserva</h2> </div>
<div class="col-md-5">
    <table class="table">
       
            <tr class="">
                <th class="info ">Nombre</th>
                 <tr class="">
                    <td class="col-md-12">Rocky 4</td>
                </tr>
            <tr>
            <tr class="">
                <th class="info ">Descripcion</th>
            <tr class="">
                <td class="col-md-12">aaaaaaaaaaaaaaaaaaaaaawa aaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaa</td>
            </tr>
            <tr>
            <tr class="">
                <th class="info ">Clasificaion</th>
            <tr class="">
                <td class="col-md-12">5 estrellas</td>
            </tr>
            <tr>
            <tr class="">
                <th class="info ">Perecio de la entrada</th>
            <tr class="">
                <td class="col-md-12"> $ 20</td>
            </tr>
            <tr>
            <tr class="">
                <th class="success ">Version</th>
            <tr class="">
                <td class="col-md-12"> Español</td>
            </tr>
            <tr>
            <tr class="">
                <th class="success ">Sede</th>
            <tr class="">
                <td class="col-md-12"> San Justo Shopping</td>
            </tr>
            <tr>
            <tr class="">
            <th class="success ">Dia</th>
            <tr class="">
                <td class="col-md-12"> Viernes</td>
            </tr>
            <tr>
            <tr class="">
            <th class="success ">Horario</th>
            <tr class="">
                <td class="col-md-12"> 20:00 hs</td>
            </tr>
            <tr>

        
 </table>

</div>
<div class="col-md-offset-1 col-md-5">
    <div class="text-center text"><h3>Finalizar Reserva</h3></div>
    <form class="form" id="formularioReserva2">

        <div class="form-group">
            <label class="control-label" >Nombre</label>
            <div>
                <input class="form-control"  id="nombreReserva"/>
            </div>
            <div id="mensaje" class="mensajeError col-md-12">Coloque un nombre correcto</div>
        </div>
        <div class="form-group">
            <label class="control-label " >Tipo de documento</label>
           <div>
               <div class="col-md-6">
                   <select class="form-control " id="tipoDocReserva">
                       <option>Dni</option>
                       <option>Otro</option>
                   </select>
               </div>
               <div class="col-md-6">
                   <input class="form-control" id="numeroDocReserva" />
               </div>
               <div id="mensaje2" class="mensajeError col-md-12">Seleccione tipo de documento</div>
               <div id="mensaje3" class="mensajeError col-md-12">Coloque un documento válido</div>
           </div>
        </div>
        <div class="form-group">
            <label class="control-label">Cantidad De Entradas</label>
            <div>
                <input type="number" class="form-control bfh-number" id="cantidadDeEntradasReserva" >
            </div>
            <div id="mensaje4" class="mensajeError col-md-12">Coloque una cantidad mayo a 0 y menor a 15</div>
        </div>
        <div class="form-group">
            <input type="submit" id="btnReserva2" class="btn btn-success col-md-12 " value="Reservar"/>
        </div>
        <div class="form-group  alert alert-warning  col-md-12">
            <span class=""> Recuerda revisar que los datos sean los correctos antes de reservar</span>

        </div>

       

    </form>
    
</div>


