
@{
    ViewBag.Title = "peliculas";
    Layout = "~/Views/Shared/_AdministradorBase.cshtml";
}



<div>
    <div class="text-center"><h3>Mis peliculas</h3></div>
    <table class="table ">
       
        <thead>

            <tr class="success">
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Calificación</th>
                <th>Género</th>
                <th>Imagen</th>
                <th>Duración</th>
                <th><a href="/Administracion/agregarPelicula"><input type="button" class="btn bn-block btn-success" value="Nuevo" /></a></th>
            </tr>
        </thead>
        <tbody>

            <tr class="warning">
                <td class="col-md-2">Rocky</td>
                <td class="col-md-2">Una asdas asdasdaspasdas asdadas asdasda asdasd a asda sdaselicula .... . . . . .</td>
                <td class="col-md-2">ATP</td>
                <td class="col-md-2">Acción</td>
                <td class="col-md-2"><img src="#" alt="imagen de la película" /></td>
                <td class="col-md-2">2 Horas</td>
                <td></td>
            </tr>
          
        </tbody>


    </table>
</div>