
@{
    ViewBag.Title = "sedes";
    Layout = "~/Views/Shared/_AdministradorBase.cshtml";
}

<div>
    <div class="text-center"> <h3>Lista de sedes</h3></div>
    <table class="table">
        <thead>
            <tr class="success">
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Precio de entrada general</th>
                <th><a href="/Administracion/agregarSede"><input type="button" class="btn bn-block btn-success col-md-12" value="Nuevo" /></a></th>
              
            </tr>
        </thead>
        <tbody>
            <tr class="warning">
                <td>Shoping sj</td>
                <td>Ruta3 3213</td>
                <td>$ 80</td>
                <td><a><input type="button" class="btn btn-info btn-block" value="Modificar"></a></td>
            </tr>
            
        </tbody>
    </table>
</div>

